.review-item-header {
    width: 100%;
    display: flex;
    justify-content: center;

}

.review-item-edit{
    display: flex;
    justify-content: space-around;
    width: 15%;
    margin-left: 2%;
}
