.index-item-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.color-img-container{
    display: flex;
    justify-content: center;
}
.color-img{
    height: auto;
    width: 40px;
}

.product-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    p{
        text-align: center;
    }

}

.display-img{
    height: auto;
    width: 100%;
}
