.index-item-container{

    display: flex;
    flex-direction: column;
    justify-content: center;

}
.color-img-container{
    display: flex;
    justify-content: center;
}
.color-img{
    padding: 10px;
    height: auto;
    width: 40px;
}

.product-link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    p{
        padding: 10px;
        text-align: center;
        font-size: 16px;
    }

}

.display-img{
    height: auto;
    width: 100%;
}
