.show-bgi{
    display: flex;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: auto;

    img{
        height: auto;
        width: 100vw;
    }

}

.show-bgi-container{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
}

.show-info{
    height: 30em;
    width: 15em;
    color:white;
    font-size: 30px;
    padding-top: 20vh;

    > *{
        padding: 5px;
    }
}

.show-info-container{
    z-index: 2;
    margin-right: 45%;
    width: 45%;

}

.info-tagline{
    font-size: 50px;
}

.info-title, .info-price{
    font-size: 25px;
    font-weight: 700;
}

.info-split{
    font-size: 15px;
    font-weight: 700;
}

.info-reviews{
    display: flex;
    font-size: 15px;
    font-weight: 700;
}
