.category-items{
    width: 10vw;
    margin: 30px
}

.category-items-container{
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: -webkit-fill-available;
    height:auto;

}
