/* TODO Add site wide styles */

body{

    font-family: HelveticaNeueLTPro-Hv,HelveticaNeue-Heavy,"Helvetica Neue Heavy","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.main-content-container{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    padding-top: 70px;
}

.title-card{
    display: flex;
    justify-content: center;
    padding-top: 70px;
    font-size: 50px
}

h1 {
    font-weight: 900;

}

// version 1
button{
    position: relative;
    overflow: hidden;
    height: 2.57143rem;
    width:10rem;;
    background-color:#383838;
    color: white;
    border-width: 1px;
}

button:hover{
    cursor: pointer;
}

button::after{
    background-color: #2c2c2c;
}


// version 2
// button {
//     position: relative;
//     padding: 15px;
//     font-family: poppins;
//     font-size: 20px;
//     cursor: pointer;
//     background: transparent;
//     border: 3px solid #0099ff;
//     overflow: hidden;
// }
// button:before{
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 60%;
//     background-color: #0099ff;
//     z-index: -1;
//     transform: translateX(-500px) rotate(50deg) ;
//     transition: 1.5s;
// }

// button:hover::before{
//     transform: translateX(0px) rotate(50deg) ;
// }
