.nav-bar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    font-size: 30px;
    background-color: black;
    width: -webkit-fill-available;
    height:70px;
    list-style: none;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 10;
    overflow: visible;
}

.redirection-section{
    display: flex;
    justify-content: space-between;
    width: 10em;
    height: 100%;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 1.5em;
        height: 1.5em;
    }
    h1{
        padding-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.nav-shop{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.nav-bar:hover{
    .shop-dropdown{
        opacity: 1;
        transform: translateY(100%);
        pointer-events: auto;
        z-index: -99;
        animation: drop .30s ease-in-out;
    }
    + .layer{
        opacity: .5;
    }
}

.layer{
    position: fixed;
    size: fill;
    top:70px;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 4;
    opacity: 0;
    pointer-events: none;
}

.shop-dropdown{
    background-color: white;
    display: flex;
    color:black;
    flex-direction: row;
    height: fit-content;
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0, .8);
    opacity: 0;
    margin: 0;
    pointer-events: none;
    min-width: 160px;
    padding: 2% 2%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;

    z-index: 3;

    @keyframes drop {
        0% {

            height: 0px;
        }
        100% {
            height: 100px;
        }
    }

    li{
        padding: 5px;
        font-size: 15px;
    }
    ul{
        padding-left: 4%;

        h3{
            padding-bottom: 7%;
        }
    }
}

#account{
    font-size: 30px;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.purchase-nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    *{
        padding: 5px;
    }
}

.search-button{
    height: 3em;
    width: 5em;
    margin: 0px 2em;
    border-radius: 20px;
}

.profile-dropdown{
    background-color: black;
    display: flex;
    position:relative;
    flex-direction: column;
    border-radius: 15%;
    z-index: 5;
    justify-content: center;
    align-items: center;
    top: 35px;
    *{
        margin: 3px;
    }
    button{
        width: 5em;
    }
}

.profile{
    border-radius: 10px;
    width: 5em;
}

.cart-icon {
  position: relative;
  display: inline-block;
}

.cart-badge {
  position: absolute;
  top: 8px;
  right: 2px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 11px;
}
